:root {
  --el-color-primary: #9945FF !important;
  --el-menu-active-color: #9945FF !important;
  --el-color-primary-light-3: rgba(153, 69, 255, 0.6) !important;
  --el-color-primary-dark-2: rgba(153, 69, 255, 0.6) !important;
  --el-color-primary-light-9: rgba(18, 18, 18, 0.25) !important;
  --el-color-primary-light-5: rgba(153, 69, 255, 0.6) !important;
  --el-color-success: rgb(6, 197, 117) !important;
  --el-color-success-light-3: rgba(6, 197, 117, 0.6) !important;
  --el-color-success-dark-2: rgba(6, 197, 117, 0.6) !important;
  --el-color-success-light-5:rgba(6, 197, 117, 0.6) !important;
  --el-color-success-light-9: rgba(6, 197, 117, 0.25) !important;
  --el-color-primary-light-7:#9945FF !important;
  --el-color-primary-light-8: #9945FF !important;
  .el-menu--horizontal {
    --el-menu-horizontal-height: 75px;
    --el-menu-item-height: 75px
  };
}